.navbar {
   background: #20252e;
   min-height: 70px;
   position: fixed;
   top: 0;
   width: 100%;
   -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
   box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
   color: #fff;
   font-size: calc(10px + 14 * (100vw - 320px)/ 800);
   z-index: 99;
   white-space: nowrap;
}

.navbar ul {
   margin: 0;
   padding: 0
}

.navbar li:first-child {
   width: 48%
}

.navbar li:nth-child(2) {
   width: 70%
}

.navbar li:last-child {
   width: 50%
} 

.navbar li {
   display: inline-block;
   padding: 18px 0;
   width: 33.3%;
   text-align: center
}

.navbar a {
   text-decoration: none;
   color: #fff;
   font-weight: 900
}

/* Message animation */
.navbar .normal {
   color: #fff;
}

.navbar .correct {
color: #2e7d32
}

.navbar .incorrect {
color: #c62828
}
@media (min-width : 1224px) {
   .navbar li:first-child {
      width: 48%
   }
   
   .navbar li:nth-child(2) {
      width: 70%
   }
   
   .navbar li:last-child {
      width: 50%
   } 
}

@media (min-width : 768px) and (max-width : 1000px) {
   .navbar li:first-child {
      width: 40%
  }

  .navbar li:nth-child(2) {
      width: 60%
  }

  .navbar li:last-child {
      width: 55%
  }
}

@media (min-width: 420px) and (max-width: 767px) {
   .navbar li:first-child {
       width: 25%
   }

   .navbar li:nth-child(2) {
       width: 55%
   }
}